body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 10px;
}

.full-head{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    flex-wrap: wrap;
   
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main-img{
    height: 250px;
    width: 500px;
}

.button{
    margin: 5px;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3882f6;
    color:#e5e7eb;
    align-self: flex-start;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    flex:1;
    justify-content: center;
    flex:1;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    margin: 10px;
}



.card-img{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 7px;
    
}

.main-text-info{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.action-holder{
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 1px;
    width: 600px;
    height: 150px;
    border-radius: 10px;
}

.action-button{
    border:#f9faf8 solid 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

.action-text{
    color:#e5e7eb;
}

#action-header{
    font-size: 24px;
    font-weight: bold;
}

#action-subtext{
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1f2937;
    color:#e5e7eb;
    width:100%;
}





.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;


}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-style:italic;
}

.quote-source{
    
    padding-right: 50px;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding-right: 10px;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.logo-text{
    color: #f9faf8;
    font-size: 24px;
}

.main-text{
    color:#f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}

